@using Microsoft.AspNetCore.Identity;
@inject SignInManager<EmployeeManagement.ViewModel.IdentityEmployee> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeManagement</title>

    <link rel="stylesheet" href="~/css/StyleMenu.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" crossorigin="anonymous" />
</head>
<body>
    <div id="wrapper" class="animate">
        <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-toggler-icon leftmenutrigger"></span>
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav animate side-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="" title="Tabele z pracownikami"><i class="fas fa-user"></i> Pracownicy <i class="fas fa-user shortmenu animate"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="" title="Dodaj pracownika"><i class="far fa-calendar-plus"></i> Dodaj <i class="far fa-calendar-plus shortmenu animate"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="" title="Tabele z Wydarzeniami"><i class="fas fa-briefcase"></i> Wydarzenia <i class="fas fa-briefcase shortmenu animate"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="" title="Dodaj wydarzenie"><i class="far fa-calendar-alt"></i> Dodaj <i class="far fa-calendar-alt shortmenu animate"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-md-auto d-md-flex">

                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Profile"><i class="fas fa-user"></i> Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="Logout" asp-controller="Account"><i class="fas fa-user"></i> Logout: @User.Identity.Name</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a id='showLogin' class="nav-link"><i class="fas fa-user"></i> Login</a>
                        </li>
                        <a class="nav-link" asp-action="Register" asp-controller="Account"><i class="fas fa-user"></i> Rerestracja</a>
                    }

                </ul>
            </div>
        </nav> 
        @RenderBody()
        
        <div id="viewLoginModal" class="modal fade in">
            <div id="loginContainer">

            </div>
        </div>
        
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha512-M5KW3ztuIICmVIhjSqXe01oV2bpe248gOxqmlcYrEzAvws7Pw3z6BK0iGbrwvdrUQUhi3eXgtxp5I8PDo9YfjQ==" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>

<script>
        $(document).ready(function ()
         {
            $('.leftmenutrigger').on('click', function (e) {
                $('.side-nav').toggleClass("open");
                $('#wrapper').toggleClass("open");
                e.preventDefault();
            })
        });
        
        $('#showLogin').click(function()
         {
            var url = '@Url.Action("Login","Account")';
            $.get(url,function(data) 
            {
                $('#loginContainer').html(data);
                $('#viewLoginModal').modal('show');
            })
         })
    </script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
