@model EmployeeManagement.ViewModel.IdentityEmployee
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Profile</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nazwa Użytkownika</span>
                </div>
                <input asp-for="UserName" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1"/>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Nazwa Użytkownika</span>
                </div>
                <input asp-for="Email" type="text" class="form-control" placeholder="" aria-describedby="basic-addon2"/>
            </div>
        </div>
    </div>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | *@
    @* <a asp-action="Index">Back to List</a> *@
</div>
